# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

# code
.vscode
code/2020-5-18-first-steps-reinforcement-learning/video
code/2020-5-18-first-steps-reinforcement-learning/.ipynb_checkpoints
code/2020-5-18-first-steps-reinforcement-learning/video_lander/
code/2020-5-18-first-steps-reinforcement-learning/video_landerr_bad/